/* Ko'chirib berish*/
html{
  scroll-behavior: smooth
  ;
}
h3{
  text-align: center;
}
#Joyni_aniqlash{
  text-align: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
button{
  background-color: #000000;
  color: white;
  padding: 5px 15px 13px 18px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}
button:hover{
  background-color: white;
  border-radius: 10%;
  color:black;
}
footer{
  color: white;
  background-color: #000000;
  text-align: center;
}
header{
  position: relative;
  background-color: #000000;
}
.top-slice-header{
  display: flex;
  justify-content: space-between;
}
table{
  width: 100%;
  color: white;
  background-color: #000000;
}
.sarlavha{
  /* position: relative;
  top: -50px; */
  color: rgb(255, 255, 255);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.logo a{
  display: inline-block;
}
.logo a img{
width: 100px;
}
.reklama{
  text-align: center;
}
#tugma{
  text-align: center;
  display: block;
  margin: auto;
  background-color: #000000;
  color: white;
  padding: 5px 15px 13px 18px;
  border-radius: 10px;
}
#tugma:hover{
  background-color: white;
  border-radius: 10%;
  color:black;
  border: 2px solid black;
}
.gif__karta{
  display:flex;
  justify-content: space-around;
}
.container-fluid a:hover{
  background-color: #000000;
  border-radius: 10%;
  color: white;
}
.container-fluid a:active{
  background-color: #22117b;
  border-radius: 10%;
  color: white;
}
/*asosiy*/

.malumot{
  text-align: center;
  color: white;
  background-color: #000000;
}
#Asosiy{
  display:flex;
  justify-content: space-around;
}
.reklama__1{
  margin: auto;
  text-align: center;
}
.animatsiya{
  color: white;
  width: 300px;
  height: 100px;
  background-color: black;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
  0%   {background-color:black; left:0px; top:0px;}
  25%  {background-color:white;color: black; left:1000px; top:0px;}
  50%  {background-color:white;color: black; right:1000px; top:0px;}
  75%   {background-color:black; right:0px; top:0px;}
  
}
.container-fluid{
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.Buyurtma{
  border: 2px solid black;
  background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.Buyurtma input{
  margin-right: 10px;
}
.Buyurtma select{
  margin-right: 10px;
}
.reklama__1 b{
  font-size: 60px;
}
.reklama__1 p{
  font-size: 20px;
}
.youtube{
  text-align: center;
}
header h3{
  margin-right: 10px;
}
/*buyurtma berish*/
.buyurt{
  text-align: center;
  display: block;
  margin: auto;
  background-color: #000000;
  color: white;
  padding: 5px 15px 13px 18px;
  border-radius: 10px;
}
.buyurt:hover{
  background-color: white;
  border-radius: 10%;
  color:black; 
}
.container{
  border: 1px solid rgb(13, 13, 69);
}
.jadval{
  margin-bottom: 10px;
}